{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "syntax-dynamic-import",
        "transform-runtime",
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ],
        [
            "import",
            {
                "libraryName": "vant",
                "libraryDirectory": "es",
                "style": true
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}
